@use 'index';

.section-label {
  @include index.font-mono;
  display: flex;
  align-items: baseline;
  margin-bottom: 24px;
}

.square {
  $size: 8px;

  margin-right: 16px;
  height: $size;
  width: $size;
  background-color: index.$color-primary;
}

.software-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  margin-bottom: 32px;
}

.project-description {
  letter-spacing: -0.01em;
}